<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Helló!</h2>
                <hr class="light">
                <p class="text-faded">Több évvel ezelőtt döntöttem az épületgépész szakma mellett. Azóta minden nap igyekszem az váratlan kihívásokra a lehető legjobb megoldással szolgálni. A kollegámmal gyakran találjuk magunkat szembe új problémákkal, de véleményem szerint pont ez segít lépést tartani, ezzel a naponta újuló szakággal.
                    Nemrégiben döntöttem az egyetem mellett, így meg is kezdtem tanulmányaimat Gépészmérnökként Budapesten. Célom hogy a lehető legjobb eredményt nyújthassam, letisztult és igényes munkát hagyva magam után.</p>
                <a href="#portfolio" class="btn btn-default btn-xl">Hajrá!</a>
            </div>
        </div>
    </div>
</section>
