<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kapcsolat</h2>
                <hr class="primary">
                <p>Készenállsz a következő Projektedre? Akkor irj egy email-t vagy hívj fel és segítünt amiben tudunk!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.facebook.com/profile.php?id=100077072194391">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.facebook_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="tel: 06704086452"></a>
            <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.phone }}</p>
            </a>
        </div>

    </div>
</section>
